.login-container .container {
    width: 750px; 
    display: flex;
    background-color: #E5E8E962;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* 왼쪽 이미지 */
.login-container .image-section img {
    width: 100%; 
    height: 100%;
    border-radius: 20px;
}

/* 오른쪽 로그인 부분 */
.login-container .login-section {
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 로그인 타이틀 */
.login-container .login-header {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.login-container .login-header img {
    position: relative;
    top: -1px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.login-container .login-header span {
    font-family: 'KimjungchulGothic';
    font-size: 27px;
    font-weight: bold;
    color: #675C58;
}

.login-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container form input {
    width: 80%;
    margin: 3px 0;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid #e3e4e4;
    background-color: #f1f5f6;
}

.login-container form button {
    width: 80%;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #e43d59b5;
    cursor: pointer;
    font-size: 15px;
}

.login-container form button:hover {
    background-color: #817f7fad;
}

/* 회원가입, ID 찾기, PW 변경 버튼 */
.login-container .links {
    font-size: 12px;
    margin: 0 10px;
}

.login-container .link-button {
    border: none;
    font: inherit;
    margin: 0 5px;
    cursor: pointer;
    color: #143252;
    background-color: transparent;
    text-decoration: underline; 
}

.login-container .link-button:hover {
    color: #14325280; 
}

@font-face {
    font-family: 'Do Hyeon';
    src: url('../../fonts/DoHyeon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KimjungchulGothic';
    src: url('../../fonts/KimjungchulGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  