.Details {
    padding: 20px;
    max-width: 800px;
    margin: 40px auto; /* 중앙 정렬 및 위아래 여백 추가 */
    background-color: #ffffff; /* 배경색 추가 */
    border-radius: 15px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }
  
.Details h1 {
    margin-bottom: 20px;
  }
  
.detail-contents {
    background-color: #f9f9f9; /* 컨텐츠 배경색 */
    padding: 20px; /* 내부 여백 */
    border-radius: 10px; /* 둥근 모서리 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    margin-bottom: 20px; /* 아래 여백 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }
  
.detail-contents p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #666; /* 텍스트 색상 변경 */
  }
  
.toList-button {
    display: inline-block;
    margin-top: 20px;
    width: 50px; 
    height: 50px; 
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease; /* 부드러운 전환 효과 */
  }
  
.toList-button:hover {
    opacity: 0.8;
    transform: scale(1.1); /* 호버 시 확대 효과 */
  }