.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.title-container {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 1px;
}

.refreshBtn {
  cursor: pointer;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.refreshBtn:hover {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}