.notice-container {
  width: 930px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  padding-bottom: 3px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.notice-header {
  height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  background-color: #E5E8E9;
}

.notice-header > div {
  gap: 10px;
  display: flex;
  align-items: center;
}

/* 검색어 input */
.notice-header > div input {
  width: 600px;
  height: 40px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: #DCDFE1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 검색 & 글쓰기 버튼 */
.notice-header button {
  height: 40px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 검색 버튼 */
.notice-header > div button {
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: #DCDFE1;
}

.notice-header > div button:hover {
  background-color: #c3c4c4;
}

/* 글쓰기 버튼 */
.notice-header .write {
  width: 120px;
  border: none;
  color: white;
  border-radius: 20px;
  background-color: #04304D;
}

.notice-header .write:hover {
  background-color: #06426a;
}

.notice-container .container {
  padding: 30px;
}

.notice-container table {
  width: 100%;
  border-radius: 20px;
  border-collapse: collapse;
  overflow: hidden;
}

.notice-container th, .notice-container td {
  padding: 8px;
  border: 1px solid #E1E4E6;
}

.notice-container tr:hover {
  cursor: pointer;
  background-color: #DCDFE1;
}

.notice-container th {
  background-color: #E1E4E6;
}