.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a4b44;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
  .backContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d990;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formContainer {
    background-color: #d9d9d990;
    padding: 60px 40px 15px 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #675C58;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    margin-top: -30px; 
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .fieldContainer {
    position: relative;
    margin-bottom: 30px;
  }
  
  .inlineFieldContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  .label {
    position: absolute;
    top: -18px;
    left: 3.5px;
    background-color: #675c58d2;
    padding: 0 5px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffffd2;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #c0deeb80;
    border: 1px solid #4287a445;
  }
  
  .input:hover {
    border-color: #007bff;
    background-color: #e0f7ff;
  }
  
  .input::placeholder {
    color: #817f7f;
    font-weight: bold;
  }
  
  .button {
    width: 480px;
    background-color: #675C58;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 14px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #8d7f7a;
  }

  .authNumContainer {
    display: none;
    align-items: center;
    margin-bottom: 1px;
  }

  .authNum {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #c0deeb80;
    border: 1px solid #4287a445;
  }

  .authNum:hover {
    border-color: #007bff;
    background-color: #e0f7ff;
  }

  .authNumButton {
    background-color: #675C58;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .authNumButton:hover {
    background-color: #8d7f7a;
  }
  
  .authButtonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }
  
  .authInput {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #c0deeb80;
    border: 1px solid #4287a445;
  }
  
  .authInput:hover {
    border-color: #007bff;
    background-color: #e0f7ff;
  }
  
  .authInput::placeholder {
    color: #817f7f;
    font-weight: bold;
  }
  
  .authButton {
    background-color: #675C58;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .authButton:hover {
    background-color: #8d7f7a;
  }

  .message {
    margin-top: 5px;
    font-size: 10px;
    color: red;
  }
  